In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import numpy as np

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

2022-10-04 21:11:15.468458: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop('EIN', axis=1)
application_df = application_df.drop('NAME', axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_df.APPLICATION_TYPE.value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Look at CLASSIFICATION value counts for binning
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [6]:
# You may find it helpful to look at CLASSIFICATION value counts >1
vc = application_df.CLASSIFICATION.value_counts()
print (vc[vc > 1])

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

# Attempt #2

Using same cutoff points for "other" in the application type and classification columns as used in the original model. Increasing number of hidden layers to four.

In [9]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = []
for i in range(len(vc)):
    if vc[i] < 1883:
        classifications_to_replace.append(vc.index[i])

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# Split our preprocessed data into our features and target arrays
y = application_df.IS_SUCCESSFUL.values
X = application_df.drop('IS_SUCCESSFUL', axis=1)

# Convert categorical data to numeric with `pd.get_dummies`
X_dummies = pd.get_dummies(X)
print(X_dummies.columns)
X_dummies

Index(['STATUS', 'ASK_AMT', 'APPLICATION_TYPE_Other', 'APPLICATION_TYPE_T10',
       'APPLICATION_TYPE_T19', 'APPLICATION_TYPE_T3', 'APPLICATION_TYPE_T4',
       'APPLICATION_TYPE_T5', 'APPLICATION_TYPE_T6', 'APPLICATION_TYPE_T7',
       'APPLICATION_TYPE_T8', 'AFFILIATION_CompanySponsored',
       'AFFILIATION_Family/Parent', 'AFFILIATION_Independent',
       'AFFILIATION_National', 'AFFILIATION_Other', 'AFFILIATION_Regional',
       'CLASSIFICATION_C1000', 'CLASSIFICATION_C1200', 'CLASSIFICATION_C2000',
       'CLASSIFICATION_C2100', 'CLASSIFICATION_C3000', 'CLASSIFICATION_Other',
       'USE_CASE_CommunityServ', 'USE_CASE_Heathcare', 'USE_CASE_Other',
       'USE_CASE_Preservation', 'USE_CASE_ProductDev',
       'ORGANIZATION_Association', 'ORGANIZATION_Co-operative',
       'ORGANIZATION_Corporation', 'ORGANIZATION_Trust', 'INCOME_AMT_0',
       'INCOME_AMT_1-9999', 'INCOME_AMT_10000-24999',
       'INCOME_AMT_100000-499999', 'INCOME_AMT_10M-50M', 'INCOME_AMT_1M-5M',
       'INCOME_AMT_25000-99999', 'INCOME_AMT_50M+', 'INCOME_AMT_5M-10M',
       'SPECIAL_CONSIDERATIONS_N', 'SPECIAL_CONSIDERATIONS_Y'],
      dtype='object')

,STATUS,ASK_AMT,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [12]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X_dummies, y, random_state=1)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = np.shape(X_train_scaled)[1]
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 30
hidden_nodes_layer4 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, activation="relu", input_dim=number_input_features)) 

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid")) 

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 30)                930

 dense_3 (Dense)             (None, 30)                930

 dense_4 (Dense)             (None, 1)                 31

=================================================================
Total params: 7,841
Trainable params: 7,841
Non-trainable params: 0
_________________________________________________________________

2022-10-04 21:13:58.439367: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [15]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.5736 - accuracy: 0.7165
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5543 - accuracy: 0.7299
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5515 - accuracy: 0.7301
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5498 - accuracy: 0.7317
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5484 - accuracy: 0.7334
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5480 - accuracy: 0.7326
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5478 - accuracy: 0.7346
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5461 - accuracy: 0.7352
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5461 - accuracy: 0.7350
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7351
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5452 - accuracy: 0.7343
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7361
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5445 - accuracy: 0.7352
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7362
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7365
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7376
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5428 - accuracy: 0.7362
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5426 - accuracy: 0.7366
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7368
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7370
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5412 - accuracy: 0.7370
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5408 - accuracy: 0.7381
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5408 - accuracy: 0.7379
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5406 - accuracy: 0.7364
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5399 - accuracy: 0.7376
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5405 - accuracy: 0.7379
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7373
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7379
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7374
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7380
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7390
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5390 - accuracy: 0.7391
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7389
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7392
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5384 - accuracy: 0.7374
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7389
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5384 - accuracy: 0.7392
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7388
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5387 - accuracy: 0.7379
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7382
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7395
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7397
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7398
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7389
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7380
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7402
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7388
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7389
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7376
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7390
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7392
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7392
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7409
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7400
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7390
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7402
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7397
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7397
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7399
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7393
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7401
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7400
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7387
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7402
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7396
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7397
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7392
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7400
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7399
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7392
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7395
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7407
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7398
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7392
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7402
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7401
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5346 - accuracy: 0.7406
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5344 - accuracy: 0.7400
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5344 - accuracy: 0.7402
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5348 - accuracy: 0.7409
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5346 - accuracy: 0.7401
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5346 - accuracy: 0.7400
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5344 - accuracy: 0.7404
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5343 - accuracy: 0.7400
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5344 - accuracy: 0.7403
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5346 - accuracy: 0.7398
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5341 - accuracy: 0.7401
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5344 - accuracy: 0.7399
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7398
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7400
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5342 - accuracy: 0.7396
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7400
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5344 - accuracy: 0.7399
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7401
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5338 - accuracy: 0.7399
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7391
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5344 - accuracy: 0.7392
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5338 - accuracy: 0.7395
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7403
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7402

Final accuracy on the training data was 74%

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5598 - accuracy: 0.7294 - 388ms/epoch - 1ms/step
Loss: 0.5597909092903137, Accuracy: 0.7294460535049438

Final accuracy on the test data was 72.9%

Both the training and testing accuracy scores were almost identical to the scores from my original model.